<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecommerce_iotree">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="IoTree App"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".OrderActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".ProductDescriptionActivity"></activity>
        <activity android:name=".StoreActivity">
        </activity>
        <activity android:name=".DonationActivity" />
        <activity android:name=".GardenerActivity" />
        <activity android:name=".MaintenanceActivity" />
        <activity android:name=".PredictionActivity"></activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".Registration" />
        <activity android:name=".DisplayPlant" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>